In [7]:
import pandas as pd
import numpy as np

In [8]:
# create a small dictionary with different data types

dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

dft

          A  B    C          D    E      F  G
0  0.609739  1  foo 2001-01-02  1.0  False  1
1  0.678766  1  foo 2001-01-02  1.0  False  1
2  0.111528  1  foo 2001-01-02  1.0  False  1

In [9]:
# There is a really easy way to see what kind of dtypes 
# are in each column. 

dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [10]:
# If a pandas object contains data multiple dtypes IN A 
# SINGLE COLUMN, the dtype of the column will be chosen 
# to accommodate all of the data types (object is the 
# most general).
# these ints are coerced to floats

pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [11]:
# string data forces an ``object`` dtype

pd.Series([1, 2, 3, 6., 'foo'])

0      1
1      2
2      3
3      6
4    foo
dtype: object

In [12]:
# The method get_dtype_counts() will return the number 
# of columns of each type in a DataFrame:

dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [13]:
# create a small data frame. 

df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0  1.338751 -0.617006 -1.000452 -1.341796
1 -0.499111  0.681508 -1.832509  0.268734
2  0.829187 -1.692537  0.030544  0.599474
3  1.510114 -0.658720 -0.262172 -0.285848
4  1.411504  2.041796 -0.630778 -1.386374

In [14]:
# Use df.apply to find the square root of all the values. 
# NaN means not a number

df.apply(np.sqrt)

          a         b         c         d
0  1.157044       NaN       NaN       NaN
1       NaN  0.825535       NaN  0.518395
2  0.910597       NaN  0.174768  0.774257
3  1.228867       NaN       NaN       NaN
4  1.188067  1.428914       NaN       NaN

In [15]:
# find the mean of all of the columns

df.apply(np.mean, axis=0)

a    0.918089
b   -0.048992
c   -0.739073
d   -0.429162
dtype: float64

In [27]:
# find the mean of all of the rows

#selecting specific rows then using .apply
df.iloc[[0, 2, 4]].apply(np.mean, axis=1)

#selecting specific columns
# df[[‘a’, ‘e’]].apply(np.mean, axis = 0)

# The bottom one selects columns a & e and returns the means of those columns since axis = 0. 
# If you did axis = 1, it would return the mean calculated using only the 
# values from columns a and e for every row

0   -0.405126
2   -0.058333
4    0.359037
dtype: float64

In [17]:
# Let's create a random array with 50 numbers, ranging 
# from 0 to 7.

data = np.random.randint(0, 7, size = 50)
data

array([2, 6, 4, 4, 4, 5, 0, 3, 6, 6, 5, 3, 2, 3, 2, 2, 4, 1, 6, 5, 6, 5, 2,
       5, 4, 0, 6, 5, 6, 3, 3, 1, 0, 3, 6, 1, 1, 1, 2, 2, 0, 1, 1, 6, 6, 3,
       1, 2, 2, 4])

In [18]:
# convert the array into a series

s = pd.Series(data)

In [19]:
# How many of each number is there in the series? Enter 
# value_counts()

pd.value_counts(s)

6    10
2     9
1     8
3     7
5     6
4     6
0     4
dtype: int64

In [20]:
s.value_counts()

6    10
2     9
1     8
3     7
5     6
4     6
0     4
dtype: int64