In [3]:
import pandas as pd
import numpy as np

sales = pd.read_csv('../assets/datasets/sales_info.csv')

In [4]:
sales.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

In [5]:
sales.dtypes

volume_sold      float64
2015_margin      float64
2015_q1_sales    float64
2016_q1_sales    float64
dtype: object

In [25]:
def add_one(value):
    return value + 1

sales.iloc[:,1].apply(add_one).head()

# alternative code:
# sales['volume_sold'] + 1

0    94.802281
1    22.082425
2    94.612494
3    17.824704
4    36.011457
Name: 2015_margin, dtype: float64

In [26]:
sales['volume_sold'].value_counts().head()

6.841363     1
11.505838    1
6.792889     1
4.904447     1
11.997117    1
Name: volume_sold, dtype: int64

In [29]:
sales['volume_sold'].apply(int).value_counts()

7     26
8     26
6     24
5     21
10    21
9     18
11    16
4     15
12     8
3      7
13     2
51     2
18     2
16     2
14     2
76     1
55     1
15     1
29     1
45     1
47     1
50     1
2      1
Name: volume_sold, dtype: int64

In [27]:
sales['2015_margin'].value_counts().head()

32.732539    1
36.282033    1
33.417852    1
25.595019    1
22.948176    1
Name: 2015_margin, dtype: int64

In [28]:
sales.iloc[:,2].apply(lambda value: value + 3).head()

0    337169.53
1     22354.86
2    277767.46
3     16808.11
4     54414.42
Name: 2015_q1_sales, dtype: float64