<a name="ind-practice"></a>
## Independent Practice: (25 minutes)
- Create a series
- Look at the head, tail, and summary stats
- Select series values by index
  - Single value
  - Multiple value
- Using Boolean indexing find values that are < than another value
- Using Boolean indexing find values that are > than another value
- Using Boolean indexing find values that are < than another value and > another value

Bonus:  Create a DataFrame with at least 5 rows

- Slice for certain rows
  - Single row by label and index
  - Multiple row range by label and index
  - Single row series + multi-value range
      - labeled index
      - int index

In [3]:
import pandas as pd
import numpy as np

np.random.seed(1234)
np.random.rand(5)

array([ 0.19151945,  0.62210877,  0.43772774,  0.78535858,  0.77997581])

In [4]:
s = pd.Series(np.random.rand(10))

In [5]:
s.head()

0    0.272593
1    0.276464
2    0.801872
3    0.958139
4    0.875933
dtype: float64

In [6]:
s.tail()

5    0.357817
6    0.500995
7    0.683463
8    0.712702
9    0.370251
dtype: float64

In [7]:
s.describe()

count    10.000000
mean      0.581023
std       0.256976
min       0.272593
25%       0.360926
50%       0.592229
75%       0.779580
max       0.958139
dtype: float64

In [8]:
s.iloc[2]

0.80187217753501927

In [9]:
s.iloc[[0, 2, 3]]

0    0.272593
2    0.801872
3    0.958139
dtype: float64

In [18]:
mask1 = s < 0.5
mask2 = s > 0.6
mask3 = (s < 0.7) & (s > 0.3)

In [19]:
s[mask1]

0    0.272593
1    0.276464
5    0.357817
9    0.370251
dtype: float64

In [20]:
s[mask2]

2    0.801872
3    0.958139
4    0.875933
7    0.683463
8    0.712702
dtype: float64

In [21]:
s[mask3]

5    0.357817
6    0.500995
7    0.683463
9    0.370251
dtype: float64

In [22]:
column_labels = ['apple', 'banana', 'orange', 'pear']
row_index = ['mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun']
df = pd.DataFrame(np.random.rand(7,4), index=row_index, columns=column_labels)
df.head(4)

          apple    banana    orange      pear
mon    0.561196  0.503083  0.013768  0.772827
tues   0.882641  0.364886  0.615396  0.075381
wed    0.368824  0.933140  0.651378  0.397203
thurs  0.788730  0.316836  0.568099  0.869127

In [24]:
df.loc['mon']

apple     0.561196
banana    0.503083
orange    0.013768
pear      0.772827
Name: mon, dtype: float64

In [25]:
df.iloc[3]

apple     0.788730
banana    0.316836
orange    0.568099
pear      0.869127
Name: thurs, dtype: float64