## 2-5 minutes try to do this with a partner:

 - Make a group object using citites and cat2
 - Select the cities subgroup "NY" with cat2 values "alpha"
 - Use get_group() on your group object, and pass a tuple with 2 values as the parameter
   - The first tuple element is the value you are looking for in "cities" index
   - The 2nd tuple element is the value you are looking for in "cat2"

In [9]:
import pandas as pd
import numpy as np

# Re-init our test data
df = pd.DataFrame({'cat1':['X','X','Y','Y','Z'],
                   'cat2':['alpha','beta','alpha','beta','alpha'],
                   'a':np.random.randn(5),
                   'b':np.random.randn(5)})

df['cities'] = np.array(['NY','LA','LA','NY','NY'])
df['month'] = np.array(['JAN','FEB','JAN','FEB','JAN'])

df

          a         b cat1   cat2 cities month
0 -1.776815 -1.246234    X  alpha     NY   JAN
1 -0.469811  0.234461    X   beta     LA   FEB
2 -0.598466 -0.129473    Y  alpha     LA   JAN
3 -0.210665  0.311226    Y   beta     NY   FEB
4  1.647891 -0.606588    Z  alpha     NY   JAN

In [31]:
my_group = df.groupby(['cities', 'cat2'])

my_group

In [25]:
mask = (df['cities'] == 'NY') & (df['cat2'] =='alpha')

df[(df['cities'] == 'NY') & (df['cat2'] =='alpha')]

          a         b cat1   cat2 cities month
0 -1.776815 -1.246234    X  alpha     NY   JAN
4  1.647891 -0.606588    Z  alpha     NY   JAN

In [33]:
my_group.get_group(('NY', 'alpha'))

          a         b cat1   cat2 cities month
0 -1.776815 -1.246234    X  alpha     NY   JAN
4  1.647891 -0.606588    Z  alpha     NY   JAN